.v-center {
    height: 100vh;
    display: flex;
    align-items: center;
}

.b-padding {
    padding-bottom: 2rem;
}

.b-margin {
  margin-bottom: 2rem;
}

#form-area {
  padding-bottom: 1rem;
}

#d-form {
  display: none;
}