.tb-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* #d-form-1 {
    display: none;
} */

#d-form-2 {
    display: none;
}

#d-form-3 {
    display: none;
}

#footer {
    background-color: black;
    height: 10vh;
}