#space-btween-1-2 {
    padding-bottom: 4rem;
}

.navbar {
    background-color: #343A40 !important;
    color: white;
}
/*  */
/* #626567 */

#welcome-bg {
    background-color: #343A40; 
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-1px);
  }

#article-sect {
    padding-bottom: 4rem;
}
#show-more {
    margin-top: -2rem;
    margin-bottom: 2rem;
    
}

#about-sect {
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

.carousel-inner > .carousel-item > img {
    width:60vw;
    height:45vh;
  }

#email-bg {
    background-color: #343A40; 
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#email-bg > .row > .col-12 > h3 {
    color: white;
}