#space-btween-1-2 {
    padding-bottom: 4rem;
}

.navbar {
    background-color: #343A40 !important;
    color: white;
}
/*  */
/* #626567 */

#welcome-bg {
    background-color: #343A40; 
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}


#article-sect {
    padding-bottom: 4rem;
}
#show-more {
    margin-top: -2rem;
    margin-bottom: 2rem;
    
}

#about-sect {
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

.carousel-inner > .carousel-item > img {
    width:42rem;
    height:35rem;
  }

#email-bg {
    background-color: #343A40; 
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#email-bg > .row > .col-12 > h3 {
    color: white;
}


#footer-sect {

}

#backtop-btn {
  text-decoration: none;
  color: #343A40 ;
}