#space-btween-1-2 {
    padding-bottom: 1rem;
}

.navbar {
    background-color: #343A40 !important;
    color: white;
}
/*  */
/* #626567 */

#welcome-bg {
    background-color: #343A40; 
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

#article-sect {
    padding-bottom: 4rem;
}
#show-more {
    margin-top: -2rem;
    margin-bottom: 2rem;
    
}

#about-sect {
    padding-bottom: 4rem;
}

img {
    max-width: 100%;
}

.container {
}